%h2 Edit bikes
 
= form_tag bikes_path(@bikes), :method => :put do
 
 = label :bikes, :Bike_ID, 'Bike_ID'
  = text_field :bikes, :Bike_ID
 
  = label :bikes, :Station, 'Station'
  = select :bikes, :Station, ['Vivo','Iulius','Ceahlau','Observator','Gara']
 
  = label :bikes, :Time, 'Released On'
  = date_select :bikes, :Time
 
  = submit_tag 'Save Changes'